.cartContainer{
    padding: 4%;
    /* border:1px solid */
}

.cartContainer h2{
    font-size: 24px;
    color: grey;
}

.shoppingCart{
    width: 90%;
}

.orderSummary{
    width:100%;
    border:0px solid
}

.orderSummary>div{
    padding:4%;
    border-radius: 5px;
    border:0px solid
}

.orderSummary>div:last-child{
    display: flex;
    justify-content: center;
}

.emptyCart{
    width:60vw;
    height:50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.orderSummary button{
    background-color: rgb(135, 135, 211);
    width:100%
}

.addMore{
    color: rgb(0, 136, 255);
    font-weight: bold;
    text-decoration: underline;
}


