.navbarContainer{
    position:sticky;
    top:0px;
    backdrop-filter: blur(9px);
    z-index: 3;
}

.navbarContainer>div{
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding:20px 2% 0%
}

.navbarContainer>div>div{
    border:0px solid;
    display: flex;
    gap:15px;
}

.navbarContainer svg{
    width: 40px;
    height: 30px;
    cursor: pointer;
}

.navbarContainer img{   
    height: 40px;
    border:0px solid;
    cursor: pointer;
}

.navbarContainer input{
    background-color: rgb(249, 244, 244);
    max-width: 800px;
    margin:0% 3%
}