
  .searchBarContainer input{
    width: 600px;
  }
  
  .searchResults {
    position: absolute;
    top: 59px;
    left: 35vw;
    width: 300px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 4;
    padding: 0;
    margin-top: 4px;
  }
  
  .searchResults>li {
    cursor: pointer;
    padding: 8px 16px;
  }
  
  .searchResults>li:hover {
    background-color: #f2f2f2;
  }

  .searchBarContainer button{
    background-color:aquamarine;
    border-radius: 0px 5px 5px 0px;
    border:2px solid;
    height: 42px;
  }

  .searchBarContainer svg{
    width: 20px;
  }
  