.filterContainer>div>div{
    display: grid;
    text-align: start;
    padding: 3%;
}

.filterContainer>div{
    text-align: start;
    padding: 3%;
}

.filterContainer h2{
    font-size:larger;
    text-decoration: underline;
}